<ion-view view-title="" class="pane">
    <ion-content class="padding" scroll="false">
        <div class="title">
            <div class="fancyText center">
                Hotel
            </div>
            <br/>
            <div class="bigText center">
                <span class="bigText center">BUDDY</span>
            </div>
            <br/>
            <div class="normalText center">
                ~ Book Now ~
            </div>
        </div>
        <!--
        <div class="list card">
            <div class="item item-divider">Health</div>
            <div class="item item-body">
                <div>
                    You ate an apple today!
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-body">
                <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                </div>
            </div>
        </div>
        -->
    </ion-content>
    <ion-footer-bar align-title="center" class="clear">
        <button class="button button-icon button-clear ion-chevron-up center" ng-click="openPopover($event)"/>
    </ion-footer-bar>
</ion-view>