<ion-popover-view id="popup-menu">
    <ion-header-bar>
        <h1 class="title">Your Balance: $4500.00</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <button class="button button-outline ion-search button-block button-positive" ng-click="closePopover($event)"><br/>FIND HOTELS</button>
            </div>
            <div class="col">
                <button class="button button-outline ion-calendar button-block" ng-click="closePopover($event)"><br/>MY RESERVATIONS</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="button button-outline ion-trophy button-block" ng-click="closePopover($event)"><br/>LOYALTY PRGM</button>
            </div>
            <div class="col">
                <button class="button button-outline ion-heart button-block" ng-click="closePopover($event)"><br/>MY FAVORITES</button>
            </div>
        </div>
    </ion-content>
</ion-popover-view>