<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="clear">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Tiberiu Neamu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>

        <ion-item nav-clear menu-close href="#/app/search">
          Find Hotels
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          My Reservations
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Loyalty Programs
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          My Favorites
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Special Offers
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Hotel Services
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Contact Us
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Feedback
        </ion-item>
         
                 
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
