/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

.clear {
    opacity: transparent;
    background: none;
}

ion-header-bar.clear> * {
    opacity: 1.0;
    color: white;
}

.bigText {
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    color: white;
}

.fancyText {
    font-family: 'Meie Script', cursive;
    font-size: 50px;
    color: white;
}

.normalText {
    font-family: 'Francois One', sans-serif;
    font-size: 24px;
    color: white;
}

.wide {
    width: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.pane {
    background-image: url("/img/hero.png"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.title {
    width: 200px;
    height: 200px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

#popup-menu {
     width: 300px;   
}

#popup-menu button {
    font-family: 'Francois One', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
